<img class="art-img-left" src="/files/2015-10-05.jpg" alt="Triumfalny svod Paljmiry"/>
<p class="mzs-tlit">
    Bojovniki stranniki Islamskoj Državy iznicili triumfaľny svod v Paľmirě, povědal glava državnogo uręda straže
    starodavnyh pamętnikov Maamun Abdulkarim.
</p>
<p class="mzs-tlit">
    Triumfaľny svod byl izbudovany Davnym Rimom okolo dvu tysęčev rokov nazad. On byl jednym iz najznajemejšyh
    pamętnikov tamtogo grada.
</p>
<p class="mzs-tlit">
    V koneci avgusta bojovniki Islamskoj Državy iznicili v Paľmirě dva hrama — hram boga Bela i hram Baal-Šamin,
    a takože podgrebaľne věže. V grade byl ubjeny ključnik Paľmiry Halěd Asad, ktory v těčenji měsęca odkazyval
    povědati bojovnikam město, gde on běše ukryl starodavne cěnnosti.
</p>
