<img class="art-img-left" src="/files/2015-10-11.jpg" alt="Plan pųtovanja na Mars"/>
<p class="mzs-tlit">
    Několiko měsęcev nazad agencija NASA prědstavila dosť detaljovanų programų ovladyvanja kosmosa, konečnym
    krokom v ktoroj bylo prizemjanje ljudij na Mars. Po mněnju specialistov, ljudi bųdųt sposobni prizemiti na
    Marsě ne raněje 2030 roka. Čto vyše, naměrjano ješče izbudovanje bazy tam. Uvěrjeno, do tamtogo vrěmene trěba
    sdělati ješče mnogo.
</p>
<p class="mzs-tlit">
    Sejčas agencija jest prědstavila ješče vyše detaljovanų programų, ktora napravdų jest ulěpšenjem prvonačaľnogo
    plana. Vsja programa razděljena na tri děla.
</p>
<p class="mzs-tlit">
    Prvy etap — studija možlivyh aspektov žitja na Marsě v uslovjah Zemje i na MKS. Sejčas naučniki i inženeri
    stvarjajųt i ulěpšajųt različne sistemy poddržki žitja, ktore bųdųt koristne dlja zemjanyh, odjěždžajųčih
    na Mars (ili na kojųkoli inakų planetų). Toj etap sejčas uže realizujųt.
</p>
<p class="mzs-tlit">
    Drugi etap — vtorno posěčenje Luny zemjanymi. Dnešnjo NASA razvivaje tęžkų raketų, ktora bųde odpravjati
    v kosmos korab Orion. Točno na im ljudi bųdųt odjěždžati na Lunų, a potom bųdųt žiti v osoblivom modulě
    na orbitě spųtnika Zemje nekoliko sedmic ili měsęcev.
</p>
<p class="mzs-tlit">
    V konci, uže v 2020-tyh rokah, bųde realizovany tretji etap. Sejčas istnuje dvě opcije prizemjanja na Marsě.
    Prva opcija prědpokladaje polet bezposrednjo na Mars s vslědnym stvorjenjem marsianskoj bazy. Druga opcija
    prědpokladaje polet na Fobos ili Dejmos s cěljų stvorjenja tam prehodnoj bazy, iz ktoroj potom bųde dovoz
    ljudij i orųdovań na črvenų planetų. V tom samom vrěmeni bųdųt aktivno koristati sistemy 3D-pečętanja.
</p>
