<img class="art-img-left" src="/files/2015-10-02.jpg" alt="Haron — satelit Plutona"/>
<p>
    <span class="mzs-tlit">Pluton — najzajmlivějši objekt izslědovanja, a naučniki světa sųt dostali ob toj
    karlikovoj planetě ogromnų kolikosť informacije, dękujųč rabotě stancije Nove Horizonty</span> (New Horizons),
    <span class="mzs-tlit">ktora sejčas letěje von od Plutona. Podčas letěnja mimo tamtogo planetoida stancija smožla
    zafotografovati i satelity Plutona, vključajųč jego glavny satelit Haron. Sejčas te foto postųpno posylajųt sę
    na Zemjų.</span>
</p>
<p class="mzs-tlit">
    Razměr Harona jest priblizno dvakratno menje Plutona. Obydva vsegda izględajųt jedin drugogo jednoj stranoj, ravno
    kako i Luna s Zemjejų. Ale tu stěčenje končaje sę, za to že Haron ne jest mrtvo nebesko tělo s žrlami i pylami.
    Ne, tu sųt i ogromny doliny, i gory, i povrh, pokryeny substancijami različnyh kolorov.
</p>
<p>
    <span class="mzs-tlit">Glavna sistema dolin, razpostirajųča na 1600 kilometrov na povrhu Harona, pravdopodobno
    istnuje i na drugoj straně planetoida. Sųglasno naučnikam iz NASA, razměr toj formacije četyrikratno vyše razměra
     Velikoj Doliny</span> (Grand Canyon) <span class="mzs-tlit">na Zemji v SŠA</span>.
</p>
