<img class="art-img-left" src="/files/2015-10-27.jpg" alt=""/>
<p class="mzs-tlit">
    Poľska hodila na izbory na prošloj nedělji, izbirav novy Sejm (parlament) poslě izborov prezidenta raněje tym rokom.
</p>
<p class="mzs-tlit">
    Glasovanje stalo pobědojų dlja konservativnoj partije «Pravo i Spravědlivosť», ktora sejčas imaje kako město
    prezidenta, tako i vyše měst v parlamente, neželi ktora-nebųď druga partija.
</p>
<p class="mzs-tlit">
    S evropejskoj točkě zrěnja ješče jedno něčto zajmlivo stalo sę. Sųglasno rezultatam glasovanja, izdavaje sę, že
    nijedna levicova ili srědišče-levicova partija ne jest dostala koliko-nebųď měst v Sejmě. Se jest prijatno čudno.
</p>
<p class="mzs-tlit">
    Poslědny raz srědišče-levicova koalicija izigryvala izbory v 2001 roku. Odtogda glasovanje bylo kompeticijejų dvu
    (veľmi različnyh) partij na pravoj straně političnogo spektra. Pravo i Spravědlivosť borila sę s vyše liberaľnojų,
    ale nesųmněnno pravicovojų partijejų Gradžanska Platforma.
</p>
<p class="mzs-tlit">
    Hoť mnoge druge byvše državy vzhodnogo bloka imajųt uspěšne konservativne partije, nijedna iz tyh
    post-komunističnyh držav, vstųpivših v EU, ne viděla ješče takogo izničenja levicy na izborah.
</p>
