<img class="art-img-left" src="/files/2015-09-28.jpg" alt="Zasrano grobišče"/>
<p class="mzs-tlit">
    Na pravoslavnom grobišči pri hrvatskom gradě Tovarnik, blizko do srbskoj granice sųt sotnje běženecev iz
    tretjego světa ustrojili tentovo poseljenje. Obrazy toj  rastųčej kupy čudžakov, koje stavjajųt tenty,
    razpostirajųt smetje, ležijųt ili spijųt na grobah, sųt pričinili močne emocije na Balkanah.
</p>
<p class="mzs-tlit">
    Srbska gazeta nazvala čudžakov "hvorymi", kogda te bezčestno ustrojili poseljenje točno na grobišči.
</p>
<p class="mzs-tlit">
    Grobišče jest položeno na hrvatskoj zemji, na městě gde državna granica ne slěduje rěkojų Dunaj. Běženeci sę
    nadějali probiti sę vnųtr Hrvatski, čtoby potom dvignųti sę do sěvera, do držav kak Němacka ili Švedska, gde
    ih by čekali groši od ščedroj lěvice.
</p>
<p class="mzs-tlit">
    Hrvatska vlada toliko dvě sedmice tomu vitala čudžakov i klęla madjarov, ktory starali sę zaštopovati tečenja.
    Ale sejčas, kogda Madjarska jest zatvorila svojų granicų, i desętki tysęčev sųt potěkli do ih v zaměn Madjarski,
    vlada už sama sili sę obstanoviti invazijų.
</p>
