<iframe class="art-img-left" width="420" height="300" src="https://www.youtube.com/embed/9PprNdIKRaw" frameborder="0" allowfullscreen></iframe>
<p>
    <span class="mzs-tlit">Naučniki iz Švejcarskoj tehničnoj školy Curiha</span> (ETH)
    <span class="mzs-tlit">sųt naučili četyrinogogo stųpajųčego robota koristati dane odnosno bųdųčnogo pųtja,
        dostane s pomočjų multikoptera.</span>
</p>
<p class="mzs-tlit">
    Na video jest pokazno, kako na počętku dlja studije nevědomogo pųtja do vzduha vzlětaje geksakopter i buduje
    mapų městnosti prěz ključove točki, ktore on sam nahodi. Kromě togo, lětajųči partner s pomočjų kamery nahodi
    vyšinų i zapisyvaje tamte dane na mapų.
</p>
<p class="mzs-tlit">
    Pozdněje kvadropod razbiraje prijęte dany i izčisljaje najlěpši pųť, razvažajųč najdene prěpony. V slučaji
    nųdžy robot može ulěpšiti svoj pųť, koristajųč informacijų od svojih optičnyh senzorov.
</p>
