<img class="art-img-left" src="/files/2015-09-30_2.jpg" alt="Voda na Marsě"/>
<p class="mzs-tlit">
    Vrhna čęsť rosijskogo parlamenta jest sego dnja zaglasovala, že by dopustiti koristanje vojska v Siriji,
    davajųč možlivosť vzdušnogo udara protiv Islamskoj Državě. V těčenji prvyh časin Rosija uže stvorila svoj napad.</p>
<p class="mzs-tlit">
    Glavny prědstaviteľ Kremlja Sergej Ivanov pověděl, že nijedna prizemna jedinica ne bųde koristana v Siriji,
    jedino vzdušne sily. Prezident Bašar aľ-Assad, on izrěkl, jest oficiaľno poprosil vojnnų pomoč od Moskvy.
    To bylo pozdněje potvrdženo tvrdženjem uręda Sirijskogo prezidenta.
</p>
