<img class="art-img" src="/files/2015-09-30.png" alt="Voda na Marsě"/>
<p class="mzs-tlit">
    Těkųča voda běže po sklonah dolin i kraterov v vrěmeni lětnjih měsęcev na Marsě, sųglasno raziskivatelam,
    ktore govoręt, že odkrytje povyšaje možlivost, že Mars jest domom dlja nekojih form žitja.
</p>
<p class="mzs-tlit">
    Toki ostavjajųt dolge, temne znaki na povrhu Marsa, pokazyvajųt obrazy sdělane na orbitě Marsa.
    Toki dlgostjų mogųt byti sotnje metrov podčas teplyh měsęcev, prěd tym, kogda oni usyhajųt jesenjų,
    kogda temperatura padaje.
</p>
<p class="mzs-tlit">
    Naučniki ne sųt uvěrjeni, odkųdy ide voda, ale ona može těkti od podzemnyh ledov ili slanyh iztočnikov,
    ili kondensovati sę iz atmosfery.
</p>
