html, body {padding:0;margin:0}
body {font-family:'Source Sans Pro', sans-serif}
p {font-weight:300;font-size:1.2em;text-align:justify}
p:first-letter {color: #b00000;font-size:1.5em;line-height:1}
h1 {font-weight:normal;font-style:normal}
header {padding:6px 6px 7px;margin:0;background:#222}
footer {font-weight:300;border-top:1px solid #ccc;padding:5px 6px 0;font-style:italic}
footer .tag {color:#666}
article {margin:0 6px}
article h1 {padding:0 5px}
button {border:0;background:#999;padding:6px 8px;border-radius:2px;cursor:pointer;font-size:1em}
button:hover {background:#aaa}
a {color:#12c;text-decoration:none}
a:hover {color:#cc8000}

#toc {padding-left:0}
.toc-item {font-size:1.2em;list-style:none}
.toc-item-date {float:right;font-size:0.8em;color:#000;line-height:1.6}
.toc-item a {display:block;padding:10px 5px;overflow:auto}
.toc-item:nth-child(odd) {background:#f4f4f4}
.toc-item a:hover {background:#f0f0ff}

.art-img {max-width:100%}
.art-img-left {float:left}
.art-img-right {float:right}

#disqus_thread {margin-top:25px}

@media (max-width:600px)
{
    .art-img-left {margin-bottom:10px;max-width:100%}
    .art-img-right {margin-bottom:10px;max-width:100%}
}

@media (min-width:600px)
{
    .art-img-left {margin-right:15px;max-width:50%}
    .art-img-right {margin-left:15px;max-width:50%}
    article, footer {margin-left:15px;margin-right:15px}
}

@media (min-width:1000px)
{
    html {background:url('/img/bg.png') repeat}
    body {width:1000px;margin:0 auto;background:#fff;padding-bottom:30px}
}
