<p class="mzs-tlit">
    Twitter sozdavaje nove iztvorjenje, ktore by pozvolilo upotrebiteljam děliti tvity, sųče dolgějšimi než dnešnji
    140-bukveny limit, povedajųt mnogi ljudji, znajemi s planami kompanije.
</p>
<p class="mzs-tlit">
    Ne jest jasne, kako iztvorjenje bųde izględati, ale iztočniki govoręt, že ono bųde pozvaljati upotrebiteljam
    izdavati dolgi kontent.
</p>