<img class="art-img-left" src="https://meduza.io/image/attachments/images/000/016/104/small/7lv1mT-E2p_sk95Pm5pMOQ.png" alt="Zadanje"/>
<p>
    <span class="mzs-tlit"> Škotski školni učeniki narěkali, že školny matematičny test v 2015 roku byl prěmnogo
    trudnym. Něktore zadanja až dovodili učenikov</span> <a href="http://www.bbc.com/news/uk-scotland-32848242"
    target="_blank" rel="nofollow"><span class="mzs-tlit">do slz</span></a>. <span class="mzs-tlit">
    Napriklad, tuto:</span>
</p>
<p class="mzs-tlit">
    Krokodil jest zauvažil žrtvų v dvadesęti metrah vyše po těčenji na drugom brěgu rěki. Krokodil prěměščaje sę po
    zemji i po vodě s raznojų bystrostjų, od čego može zmenšiti vrěmę dviženja do žrtvy, jestli on bųde plyvati děľ
    pųtja. Vrěmę, ktoro potrěbno krokodilu, že by dojdti do žrtvy, izznačeno formulojų na obrazku.
</p>
<p class="mzs-tlit">
    Zadanja: <br><br>
    1. Koliko vrěmene trěba krokodilu, že by dojdti do žrtvy, jestli on bųde toliko plyvati? <br><br>
    2. Koliko vrěmene trěba krokodilu, že by dojdti do žrtvy, jestli on bųde plyvati najmenši daľ? <br><br>
    3. Istnuje tako značenje 'x', s ktorym vrěmę jest najmenše. Trěba najdti seje značenje i izčisliti najmenše vrěmę,
    ktorym krokodil može dojdti do žrtvy.<br><br>
</p>
