<p>
    <img class="art-img-left" src="/files/2015-09-29.jpg" alt="George Soros">
    <span class="mzs-tlit">Evropejska Unija imaje obovęzok každy rok prijmati i davati žilišče i groši prinajmenej jednomu milionu prěselencev
    iz tretjego světa. Seje piše medžunarodny finansovec George Soros v članku na sajtě</span> <i>Project Syndicate</i>.
</p>
<p class="mzs-tlit">
    V svojem članku prědstavjaje George Soros naměrų, kako velje povysiti uraveń multikulturalizma v Evropě. Prvy krok
    jest prinuditi EU prijęti prinajmenej milion azilantov. A tako v těčenji vsjakogo roka.
</p>
<p class="mzs-tlit">
    «Najprvo musi EU prijęti milion azilantov každy rok v najblizšej bųdųčnosti. Za to musi brěmę děliti sę ravno medžu
    državami», piše on.
</p>
<p class="mzs-tlit">
    Za to čtoby finansovati to ogromno zaseljenje musi EU platiti ~15000 evro na každų osobų prve dva roka. Cěna za
    zabavų bųde platiti sę prěz vzętje ogromnogo zajema, prědlagaje 85-lětny valutovy spekuliant.
</p>
<p class="mzs-tlit">
    «EU može koristati toj model, jerbo može izdati mnogolětny dolg, koristajųč svoj kreditovy uraveń AAA», piše on.
</p>
<p>
    <span class="mzs-tlit">Za to čtoby sovladnųti s tako zvanojų integracijejų milionov prěselencev, bųde trěba EU i dalje davati groši
    privatnomu sektoru i tako zvanym nevladovym organizacijam</span> (NGO). <span class="mzs-tlit">Seje piše George Soros, koj sam upravjaje
    organizacijų Open Society, kaka stvorjena dlja razpostiranja marksistovyh idealov v Vzhodnoj Evropě.</span>
</p>
