<p>
    <span class="mzs-tlit">Firma</span> Lexus <span class="mzs-tlit">jest pokazala kartonnų versijų svojego
    sedana</span> IS <span class="mzs-tlit"> v reaľnų veličinų. Proiztěkši obrazec skladaje sę iz 1700 svęzanyh
    dělov. Až kolesa sųt stvorjene iz kartona.</span>
</p>
<p class="mzs-tlit">
    Hvala aluminevoj ramě a električnomu motor motoru, kartonny Leksus može až gnati.
</p>

<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/945/large/pFVgxtbrfWwdh8KCrmD_3w.jpg" alt="Kartonny Leksus"/>
<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/944/large/5Ft2C9KfLdGNOwCS71-4-Q.jpg" alt="Kartonny Leksus"/>
<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/946/large/uG7YDmB96og-LnpG4eQx5g.jpg" alt="Kartonny Leksus"/>
<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/947/large/13QHpsfDiAsHU9WWAogkbg.jpg" alt="Kartonny Leksus"/>
<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/943/large/R56uuzBKvYBcOSlkXvfNQQ.jpg" alt="Kartonny Leksus"/>
<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/942/large/0XZPIY4F4fqA8XSgkE3MKw.jpg" alt="Kartonny Leksus"/>
<img class="art-img" src="https://meduza.io/image/attachments/images/000/015/941/large/xkh3puF7k1bZ3MAUYrkQSg.jpg" alt="Kartonny Leksus"/>
