<img class="art-img-left" src="/files/2015-10-29.jpg" alt="Spųtnik Saturna Encelad"/>
<p>
    <span class="mzs-tlit">Kosmična stancija</span> Cassini <span class="mzs-tlit">jest uspěšno stvorila proletěnje
    nad městnostjų južnogo polusa spųtnika Saturna Encelada na vyšině 49 km. Načętje prěvoda danyh očěkivajųt sim
    večerom.</span>
</p>
<p>
    <span class="mzs-tlit">Kako kaže NASA</span>, Cassini <span class="mzs-tlit">běše musěl vzęti obrazce stvara,
    kidajemogo v kosmos iz okeana spųtnika. Prědpokladajųt, že struja skladaje sę iz lednyh kapľ, vodnoj pary a
    organičnyh molekul.</span>
</p>
<p>
    <span class="mzs-tlit">Objedinjeny projekt NASA i ESA, skladajųči sę iz avtomatičnoj medžuplanetnoj stancije</span>
    Cassini <span class="mzs-tlit">a prizemjajemogo modula</span> Huygens, <span class="mzs-tlit">byl izpuščeny v
    oktobrě 1997 roka s kosmoporta Kanaveral. V juniji 2014 roka korab izšel na orbitų Saturna.</span>
</p>
<p class="mzs-tlit">
    V těčenji izslědovanja Encelada bylo najdeno, že na spųtnikě pod lednym povrhom istnuje těkųči okean. Znajųč
    ob možlivoj geotermaľnoj dějateľnosti, naučniki dopuščajųt, že v im istnujųt primitivne formy žitja.
</p>
<p class="mzs-tlit">
    Zadanje sejčasnogo proletěnja ne vključaje iskanje slědov čudžego žitja. Naučniki nadějajųt sę s pomočjų
    dostanyh danyh srazuměti veličinų gidrotermaľnoj dějateľnosti, to jest hemičnoj reakcije mineralov i goręči vody.
</p>
