<img class="art-img-left" src="https://meduza.io/image/attachments/images/000/016/428/large/VEBJYuTIViLzTF-oVCoMLQ.jpg" alt="Crkva v vodě"/>
<p class="mzs-tlit">
    V 1966 roku na rěkě Grihaľva v Meksikě izbudovali prěgradų, vslěd ktoroj pod vodų sošla crkva vrěmen kolonizacije.
    Ale v sem roku vslěd veľmi suhoj pogody uraveń vody v vodojemě upadl, i crkva iznova stala vidima.
</p>
<p class="mzs-tlit">
    Crkva byla izbudovana skupščinojų menahov, vedomojų Bartolomenem de Las Kalas v srědině 16 věka. Stěny budynka
    vzvyšajųt sę na 10 metrov, a zvonarnja — na 16 metrov od zemje. Veličina crkvy sostavjaje 61 na 14 metrov.
</p>
<p class="mzs-tlit">
    «Očěkivali, že tuta crkva može byti srědiščem velikogo poseljenja, ale se nikogda ne stalo sę. U jej, tako
    možlivo, nikogda až ne bylo svojego duhovnika», — jest pověděl arhitekt Karlos Navarrete.
</p>
