<img class="art-img-left" src="/files/2015-10-15.jpg" alt="Raketa Pike"/>
<p>
    <span class="mzs-tlit">Obranna firma</span> Raytheon <span class="mzs-tlit">razvivaje a testuje svojų novų sistemų
    vodimoj rakety.</span>
</p>
<p>
    Raytheon <span class="mzs-tlit">jest v prošlom ponedělku oglasila, že oni sųt uspěšno zatestovali svojų novų
    sistemų vodimoj rakety, zvanų</span> «Pike». <span class="mzs-tlit">V časě strěľb vsi rakety sųt prizemili v
    zoně cěli, dalje 2100 metrov.</span>
</p>
<p>
    <span class="mzs-tlit">Nove orųženje jest preznačene dlja strěľby iz granatometa M320 ili iz</span> EGLM.
    <span class="mzs-tlit">Ono trěbuje dvě osoby dlja strěljanja: jedin strěljaje, a inaki držaje osoblivų lasernų
    sistemų pricěljenja veličinojų pistoleta. Sama raketa imaje razměr 42 centimetra, a važi menje 900 gramov.</span>
</p>
<p>
    <span class="mzs-tlit">Časom orųženje prodolžaje razvivati sę,</span> Raytheon <span class="mzs-tlit">imaje
    velike naměry. Vključiti ne prosto snosnų orųžjenų sistemų, davajųčų vojinam dostųp do anti-tankovogo orųžja,
    ale ješče i sdělati jų dostųpnoj dlja inakih platformov. Napriklad, lodki, drony, transportery. Ja takože
    prědvidyvajų, že oni bųdųt montovati tamtų sistemų a na bojovy vozy, kako alternativų dnešnjej tęžkoj i
    dragoj raketě</span> TOW.
</p>
<p>
    <span class="mzs-tlit">Prědstaviteľ Raytheon Dž.R. Smit jest pověděl</span> «Pike <span class="mzs-tlit">bųde
    stavati hitrěje i hitrěje dopoka my izrabotyvajemo jego možlivosť. V bųdųčnoj konfiguraciji vojin bųde dodavati
    laserny kod cěli až prěd nabijanjem granatometa»</span>
</p>
