<iframe class="art-img-left" width="420" height="315" src="https://www.youtube.com/embed/s_h8YISqJRQ" frameborder="0" allowfullscreen></iframe>
<p class="mzs-tlit">
    Nočejų russka aviacija stvorila osm napadov na četyri objekta Islamskoj Državy na teritoriji Siriji.
</p>
<p class="mzs-tlit">
    Byla izničena centrala terorističkogo obrazovanja i sklad orųženja blizko Idliba, a takože 3-uravněvo pancirovano

    komandno město okolo grada Hama.
</p>
<p class="mzs-tlit">
    Vslěd prjamogo udara aviabobmy cělkom izničena fabrika, ktora běše iztvarjala izbuhlive avto, sěverno od grada Homs.
</p>
<p>
    <span class="mzs-tlit">Dlja dostavanja točnoj informacije odnosno města jestestva teroristov i rezultata ognevoj
    poražki aktivno koristajųt sę srědstva kosmičnyh izvěd a bezpilotne lětajųče orųdja</span> (UAV).
</p>
