<p>
    <span class="mzs-tlit">Vitajų vsih čitateljev bloga. To jest probny zapis tu.
    Vse članki v tutym blogu bųdųt napisane medžuslovjanskim językom.
    Čto jest toj medžuslovjanski možete pročitati na </span><a href="http://steen.free.fr/interslavic/index.html" target="_blank"><span class="mzs-tlit">vebsajtě jego avtorov</span></a>.
</p>
<p class="mzs-tlit">
    Čemu jest sozdany tutoj blog? Glavna mysľ běše popularizovati medžuslovjanski język,
    pisajųč interesne slovjanskim narodam članki (teksty). Avtor togo bloga ne jest kakokoli svęzany s
    avtorami języka, on jedino koristaje to orųdje. Poniže ide kratko objasnjenje anglijskim.
</p>
<p>
    If you have not understood a single word above, then probably this blog is not for you.
    Although, if you are interested in languages, and particularly in Slavic ones (as well as in politics, sciences,
    design and other topic the author is interested in), this blog may help you learn
    <a href="http://steen.free.fr/interslavic/index.html" target="_blank">Medžuslovjanski</a>
    — a language more or less clear to all the Slavic speakers at the same time. The author of this blog is
    not anyhow affiliated with language creators, he is just using it.
</p>