<p class="mzs-tlit">
    Rosija bųde stvarjati v Siriji vojnnų bazų dlja borby protiv Islamskoj Državě.
</p>
<p class="mzs-tlit">
    Ob sem oglasil v razgovorě s gazetojų «Komsomoľskaja Pravda» zastųpnik načeľnika štaba vojska Rosije
    general-podpolkovnik Andrej Kartapolov, vedųči operacijų v Siriji.
</p>
<p class="mzs-tlit">
    Kartapolov jest takože pověděl, že v slučaji nųdžy v operaciji v Siriji može byti koristana skupščina russkih
    korabov v Srědzemskom morji. Dneš, pověděl on, skupščina dostavjaje vojnne tovary a takože sostavjaje protivozdušnų
    obranų.
</p>
<p class="mzs-tlit">
    Čto vyše, Kartapolov oglasil, že v Siriji ne istnuje «uměrenoj opozicije». «Možno različno jų imenovati — uměrena
    ili neuměrena opozicija, ale ktokoli, kto s orųžjem v rųkah bojuje protiv pravnoj vladě, koliko on jest uměreny»,
    — pověděl on.
</p>
