<img class="art-img-left" src="/files/2015-10-04.jpg" alt="Izkopanje ostatkov mamonta"/>
<p class="mzs-tlit">
    Zemjeděljnik iz Mičigana Džejms Bristľ jest odkryl u sebe na polji divnų kosť. On razkazal ob tom naučnikam
    iz Mičiganskogo universiteta, ktore izznačili, že tamta kosť běše prinaležala mamontu. Poslě několiko dnjev
    na polji Bristlja oni sostavili izkopanje i sųt našli ostatki mamonta, vključajųč dobro skladivše sę zųby,
    kolěna i hrebet.
</p>
<p class="mzs-tlit">
    Ocěnjajųt, že vzrast mamonta byl 40 rokov, kogda on umrel. Prědpoklagajųt, že on žil 11700 — 15000 rokov tomu.
    Ostatki dobro skladili sę, za to že ljudi pravdopodobno vložili mamonta v prirodny hladnik, že by pozdněje
    jego sjěsti, ale někako ne sdělali to.
</p>
