<img class="art-img-left" src="/files/2015-10-10.jpg" alt="Žrtvy izbuhov"/>
<p class="mzs-tlit">
    Vslěd izbuhov v Ankarě sųt umreli ne menje 30 osob, oglasil prědstaviteľ Ministrstva Vnųtrišnjih Děl državy.
    Kolikosť poranjenyh prěvyšaje 120 osob.
</p>
<p class="mzs-tlit">
    Izbuhi stali sę prěd želězničnojų stancijejų, gde sbirali sę učęstniki demonstracije, ktora byla posvęčena
    obstanovjenju bojovyh dějań turečskoj vlady protiv kurdam.
</p>
<p class="mzs-tlit">
    Sųglasno prědběžnym danym, izbuhove orųdja aktiviroval jedin ili několiko terroristov-samoubijcev, ale
    potvrdženje sej informacije ne istnuje. V městnyh medijah objavili sę obrazy metaličnyh sfer, ktorymi,
    kako sę tvrdi, byli izpolnjene bomby.
</p>
