<img class="art-img-left" src="/files/2015-10-21.jpg" alt="Zemja iz kosmosa"/>
<p>
    <span class="mzs-tlit">Agencija NASA ne toliko ględěje na zvězdy, ale i ne prěstavaje oddavati vnimanje Zemji.
    Onogda agencija jest odkryla novy vebsajt</span>
    (<a href="http://epic.gsfc.nasa.gov" target="_blank" rel="nofollow">http://epic.gsfc.nasa.gov</a>),
    <span class="mzs-tlit">na ktorom každų časinų razměščajųt fotografije solnečnoj strany Zemje. Fotografije posylaje
    kosmična stancija</span> Deep Space Climate Observatory (DSCOVR), <span class="mzs-tlit">sųča na udaljenosti 1.5
    miliona kilometrov od Zemje.</span>
</p>
<p>
    <span class="mzs-tlit">Glavne zadanje stancije</span> DSCOVR — <span class="mzs-tlit">slěditi za aktivnostjų
    solnečnogo větra, čto dozvaljaje davati točne prědskazanja zemnoj pogody v različnyh městnostjah. Na stanciji
    istnujųt dva orųdja dlja oględanja Zemje. Tako, napriklad,</span> EPIC <span class="mzs-tlit">pomagaje naučnikam
    planety viděti vyšinų oblakov a ih odražateľnų sposobnosť, nahoditi sųsrědnosť ozona i aerosolov.</span>
</p>
<p>
    EPIC — <span class="mzs-tlit">to jest 4 MP CCD kamera a teleskop. Mnogobarvny obraz stvarjaje sę posrědstvom
    objedinjanja trěh fotografij, izdělanyh črěz razne světlofiltry. V konci dostajųt barvny obraz, analogičny takomu
    od 12 MP kamery. Fotokamera rabotaje, stvarjaųč obraz serijejų v desęť jedinic, ale z različnymi filtrami,
    vključajųč UF a IČ. Črveny, zeleny i sini koristajųt dlja stvorjenja barvnogo obraza.</span>
</p>
<p>
    <span class="mzs-tlit">Za to že Zemja — veľmi jasny prědmet,</span> EPIC <span class="mzs-tlit">stvarjaje foto
    z minimaľnojų izstavojų, se jest 20-100 milisekund. Vslěd tamtogo na obrazah vidima Zemja, ale ne vidimo vyše
    malo jasnyh prědmetov, napriklad, zvězd.</span>
</p>
