<p>
    <span class="mzs-tlit">V společnoj mrěžě</span> Facebook <span class="mzs-tlit">jest javilo sę iskanje posrěd
    tekstov publičnyh poslań koristnikov. Prvo tutų možlivosť sųt dostali amerikanski koristniki mrěžy i mobilnogo
    priloženja dlja</span> Android a iOS.
</p>
<p>
    <span class="mzs-tlit">V</span> Facebook <span class="mzs-tlit">tvrdęt, že oni zaindeksirovali vyše dvu trilionov
    poslań prěd počętkom polnogo iskanja. Prědže v</span> Facebook <span class="mzs-tlit">bylo toliko možno iskati
    konta, a iskanje posrěd tekstov poslań koristnikov bylo nemožlivo.</span>
</p>
<p class="mzs-tlit">
    «Kogda vy klikajete na ręd iskanja a načinajete tipkati, my bųdemo tutčasno pokazyvati vaše osobne zakazy. Poka
    vy tipkajete, my bųdemo obsvětljati to, čto dějaje sę ravno sejčas, i vy bųdete mogti slěditi za obljubjenymi
    povědkami v tų hviljų, kogda oni dejajųt sę», — sųt pověděli inženery Fejsbuka.
</p>
