<img class="art-img-left" src="/files/2015-10-18.jpg" alt="Město zvězdy na mapě"/>
<p>
    <span class="mzs-tlit">V srědině septembra razom několiko velikih media napisali, že kosmičny teleskop Kepler
    jest odkryl na udaljenosti 1481 světľnogo roka od Solnca něčto, podobno tvorjenju vysokorazvjenoj vnězemnoj
    civilizacije, imenno</span>
    <a href="https://en.wikipedia.org/wiki/Dyson_sphere" target="_blank" rel="nofollow"><span class="mzs-tlit">sferų Dajsona</span></a>.
    <span class="mzs-tlit">Napravdų ne ide molva ob kontaktě s vněplanetnym razumom, ale čto jest pričinojų
    neobyčnoj emisije zvězdy</span> KIC 8462852, <span class="mzs-tlit">ne jest cělkom jasno. Sejčas ja bųdų
    povědati, čto jest tako neobyčno v</span> KIC 8462852 <span class="mzs-tlit">i za čto odkrytje prinudilo
    govoriti ob vnězemnoj civilizaciji.</span>
</p>
<p>
    <span class="mzs-tlit">Zvězda</span> KIC 8462852 <span class="mzs-tlit">v sųzvězdji Labędja jest znana dosť od
    davna. Vprvo vnimanje k jej privlěkli dobrovoľci raziskivateľnogo projekta</span> Planet Hunters,
    <span class="mzs-tlit">ktori razbirajųt dostane teleskopom Kepler dane. Projekt rabotaje tako: dobrovoľci
    musęt ględěti na izobraženje od Keplera i nahoditi na ih temne kųski — oni možųt značiti, že někaka planeta
    mijaje prěd svojejų zvězdojų. Izględaje tamto ako kratko padanje uravnja emisije zvězdy.</span>
</p>
<p>
    <span class="mzs-tlit">Oči obyčnogo člověka podhodęt dlja takogo cělja lěpše, než programne srědstva. V
    těčenji pęti lět raboty</span> Planet Hunters <span class="mzs-tlit">už sųt uspěli odkryti několiko planet
    a sųt označili několiko desętok možlivyh kosmičnyh prědmetov. Padanje emisije bylo odkryeno i v slučaji</span>
    KIC 8462852, <span class="mzs-tlit">medžutym jej rod kaže ob tom, že okolo planety vračaje sę někoj prědmet
    dosť velikoj masy. Tako jest polno možlivo, jestli zvězda jest veľmi mlada, i okolo jej vračaje sę kolce pyla,
    iz ktorogo pozdněje gravitacija bųde tvoriti planety, jednakže</span> KIC 8462852 <span class="mzs-tlit">jest už
    stara zvězda. Daže jestli ona by byla mlodojų, vtogda možlivo by bylo uviděti dostatočno, v časě takom,
    infračrvenogo světla — ale se ne bylo uviděno.</span>
</p>
<p>
    <span class="mzs-tlit">Priblizno jedin raz v 800 dnjev emisija zvězdy padaje na 15–20 procentov,</span>
    <a href="http://www.washingtonpost.com/news/morning-mix/wp/2015/10/15/the-strange-star-that-has-serious-scientists-talking-about-an-alien-megastructure/" target="_blank" rel="nofollow"><span class="mzs-tlit">piše</span></a>
    The Washington Post. <span class="mzs-tlit">Snižka jasnosti zvězdy može trvati několiko sedmic, a v 2013 roku
    serija takih snižk</span> <a href="https://www.newscientist.com/article/dn28191-citizen-scientists-catch-cloud-of-comets-orbiting-distant-star/" target="_blank" rel="nofollow"><span class="mzs-tlit">trvala</span></a>
    <span class="mzs-tlit">až tri měsęca. Prisųčnosť pri zvězdě, napriklad, najvęčšej planety solnečnoj sistemy
    Jupitera by vedlo do padanja uravnja emisije toliko na jedin procent. Nikake dane, že okolo
    </span> KIC 8462852 <span class="mzs-tlit">jest kojakoli planeta, ne istnujųt.</span>
</p>
<p>
    <span class="mzs-tlit">Porędok povyšeń i snižek emisije</span> KIC 8462852 <span class="mzs-tlit">jest taki
    neobyčny, že nikaka zvězda iz znanyh 150 tysęč ne povtarjaje jego. Sųglasno naučniku universiteta Jelja Tabetě
    Bojadžian, izdavšej v septembrě 2015 roka</span> <a href="http://arxiv.org/pdf/1509.03622v1.pdf" target="_blank" rel="nofollow"><span class="mzs-tlit">tvorbų</span></a>
    <span class="mzs-tlit">ob</span> KIC 8462852, <span class="mzs-tlit">na počętku raziskivateli mněli, že
    imajųt dělo s někojejų tehničnojų grěškojų — oni ne mogli uvěriti, že dane ob emisiji zvězdy napravdų reaľne.
    Najmožlivša versija, k ktoroj prišli Tabeta s kolegami — zvězda byla obkrųžena cělojų skupščinojų egzokomet,
    ktore izničila gravitacija zvězdy i ktore prěměnili sę v gaz i pyl,</span>
    <a href="https://www.newscientist.com/article/dn28191-citizen-scientists-catch-cloud-of-comets-orbiting-distant-star/" target="_blank" rel="nofollow"><span class="mzs-tlit">piše</span></a> The New Scientist.
</p>
<p>
    <span class="mzs-tlit">Najvęčši problem</span> KIC 8462852 <span class="mzs-tlit">jest nedostatok danyh ob
    rodě sej emisije. Kosmičny observatorium, s pomočjų ktorogo udačili najdti anomalijų, běše čęstično slomal sę
    dva roka nazad, i v aprili 2015, kogda iznova očěkivali neobyčnų emisijų zvězdy, ne mogl ničto izměriti.
    Raziskivateli nadějųt sę, že bųdųt mogti izučiti zvězdų v maji 2017 roka, kogda očěkivajųt nastųpno izjavjenje
    anomalije.</span>
</p>
<p>
    <span class="mzs-tlit">Jednakže, už sejčasna informacija jest dostatočna, že by do</span> KIC 8462852
    <span class="mzs-tlit">udělili vnimanje naučniki. Kollega Tabety Bojadžian iz universiteta Pensiľvanije Džejson
    Rajt planuje izdati sobstveno raziskivanje emisije</span> KIC 8462852. <span class="mzs-tlit">On hče objasniti
    anomalijų bytostjų vokrųg zvězdy tako zvanoj sfery Dajsona — teoretičnogo prědmeta sferičnoj formy, izbudovanogo
    okolo zvězdy. Prědpokladajųt, že taka sfera može dozvaljati efektivno koristati energijų zvězdy; posrěd jej
    upotrěbjeń sųt razrěšenje problemy prostora živobytja, a pųtovanja s nadsvětlovojų bystrostjų.</span>
</p>
<p class="mzs-tlit">
    Sfera Dajsona istnuje toliko na papěrě (vključajųč fantastičnų kniževnosť), nikake srědstva jej tvorjenja
    člověčstvu ne jest znajemy. Razvažajųt, že sfera može byti znakom vysokorazvjenoj vnězemnoj civilizacije.
</p>
<p>
    <span class="mzs-tlit">Rajt kaže, že čudži — se jest poslědno, ob čem musi mysliti astrofizik, a podčrkaje,
    že bųde veľmi skeptičnym v svojem raziskivanji. «Ale tym ne menje, to izględaje tako, kako očěkivaješ od něčta,
    izbudovanogo čudžimi»,</span> — <a href="http://www.theatlantic.com/science/archive/2015/10/the-most-interesting-star-in-our-galaxy/410023/" target="_blank" rel="nofollow"><span class="mzs-tlit">kaže</span></a>
    <span class="mzs-tlit">naučnik. Imenno slova Rajta ob sfere Dajsona okolo</span> KIC 8462852
    <span class="mzs-tlit">pričinili tako mnogo publikacij i govorov ob vnězemnyh civilizacijah. Priblizno takože
    obgovarjali v konci 1960-yh ob pulsarah — ih emisija byla veľmi podobna vnězemnomu signalu.</span>
</p>
