<img class="art-img-left" src="/files/2015-10-13.jpg" alt="Napad na avtobusnoj stanciji"/>
<p class="mzs-tlit">
    V něktoryh gradah Izraelja stali sę teroristične napady, v časě ktoryh sųt umreli tri člověka, a ješče vyše
    tridesęti byli poranjeni.
</p>
<p class="mzs-tlit">
    Prvy napad stal sę sego dnja v gradě Raanan, gde na stojavših na avtobusnoj stanciji ljudij napadl člověk s nožem.
    On běše izdělal legke poranjenja 32-lětnjemu gradžanu.
</p>
<p class="mzs-tlit">
    Skoro poslě sego jedna žena byla poranjena pri napadě v tom samom gradě.
</p>
<p class="mzs-tlit">
    Ješče jedin napad stal sę v kvartalě Jerusalima. Voorųženy pistoletom člověk načęl strěljati v pasažerov avtobusa,
    a drugi načęl udarjati pasažerov nožem. V těčenji tamtogo napada šestnadsęť ljudij dostali poranjenja, vključajųč
    tęžke. Jedin jest umrel.
</p>
<p class="mzs-tlit">
    Četvrty napad takože stal sę v Jerusalimě. Avto udarilo grupų ljudij, potom šofer izšel iz avta i napadl na žrtvy
    s nožem.
</p>
