<img class="art-img-left" src="http://www.hromadske.tv/images/doc/3/b/3b3a9b8-imrs-650x410_628x420.jpg" alt="Ostatki jezera na Marsě"/>
<p>
    <span class="mzs-tlit">Na Marsě bylo jezero, ktoro teoretično imělo vsi uslovja dlja rodženja i poddržanja žitja.
    Se jest dokazala naučna družina marsohoda</span> Curiosity, <span class="mzs-tlit">ktory rabotaje na črvenoj
    planetě, izvěstil zastųpnik glavy laboratorije kosmičnyh izslědovań Maksim Litvak.</span>
</p>
<p>
    <span class="mzs-tlit">Naučna družina</span> Curiosity <span class="mzs-tlit">zaključila, že pravdopodobno jezero
    istnovalo. Hoti sųt sųmněnja v odnošenji k tomu, dokolě stojęča voda istnovala tam.</span>
</p>
<p class="mzs-tlit">
    «Pytanje jest v tom, li bylo tamto stnje milionov rokov nazad, li stnje tysęč rokov. Se jest različne věči.
    Čim vyše dolgo tam istnovalo jezero, tim vyše dolgo tam stvarjal sę osoblivy mikroklimat na tamtoj městnosti.
    Ale sdavaje sę, že fakt bytosti takogo jezera potvrdžaje sę, jego iskanje jest jedinym iz zadań robota»,
    — jest povědal Litvak.
</p>
