<img class="art-img-right" src="/files/2015-10-03.jpg" alt="Bojovy voz Ajax"/>
<p>
    <span class="mzs-tlit">Velika Britanija planuje zaměniti svoj dolgo služęči bojovy voz</span> FV107 Scimitar
    <span class="mzs-tlit">novym, nazyvajemym Ajaks. To bųde semja gųseničnyh vozov, každy iz ktoryh bųde nazvany
    imenem personaža iz grečskoj mitologije: Atena za komandovy voz, Apolon za inženerny, Ares za bojovy, i tako dalej.</span>
</p>
<p class="mzs-tlit">
    Imę Ajaks same prihodi iz grečskoj mitologije, a jest imenem elegantnogo, bystrogo i mogųčego vitęzja.
</p>